################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Semester_Project_Group_9/FileContentIndex/47fa16b3-79af-46df-9db3-6081d250f7ba.vsidx
/.vs/Semester_Project_Group_9/FileContentIndex/0d9dafa5-60a8-4e5a-b251-0ab83ee8bd69.vsidx
/.vs/Semester_Project_Group_9/FileContentIndex/3e0ad746-3c80-47c4-b510-eef2287d2495.vsidx
/.vs/Semester_Project_Group_9/FileContentIndex/bc91ce84-a1fa-41eb-b363-b79b2e9e7d7a.vsidx
/.vs/Semester_Project_Group_9/FileContentIndex/be42070a-12e0-4543-8e76-1e9d6e6607a8.vsidx
