################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Semester_Project_Group_9/FileContentIndex/c67eef50-f486-45a0-89ef-6f1be127a986.vsidx
