################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Semester_Project_Group_9/FileContentIndex/c67eef50-f486-45a0-89ef-6f1be127a986.vsidx
/.vs/Semester_Project_Group_9/FileContentIndex/a08d656b-9dd3-4305-8236-78c81825e25c.vsidx
/.vs/Semester_Project_Group_9/FileContentIndex/2b5c506c-d141-4806-bd86-88097e3e241d.vsidx
